body {
    font-family: Arial;
    text-align: center;
}

header {
    background-color: black;
    color: white;
    padding: .5em;
    margin-bottom: 100px;
}

.date {
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
}

